body {
	font-size: 16px;
	color: /*#fff*/;
	background-color: /*#61122f*/;
}

/*header*/
#header-nav{
	background-color: yellow;
	border-radius: 0;
	border: 0;
}

.navbar-brand{
/*	padding-top: 25px;
*/}
.navbar-brand h1 { /*Food, LLC*/
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
#collapsable-nav {

}


#nav-list{
	margin-top: 10px;
	margin-bottom: 0px;
}
#nav-list a{
	color: #951c49;
	background-color: white;
	text-align: center;
	border: 1px solid #000;
}
#nav-list a:hover{
	background:#E7E7E7;
}
#nav-list a span{
	font-size: 1.8em;
}
h4 {
	text-align: center;
}
#chicken {
	background-color: #aFafaf;
}